.excursion-catalog {
	width: 100%;
	max-width: 375px;
	margin: 27px auto;
	padding: 0 17px;

	@media(min-width: 768px) {
		max-width: 800px;
	}
	@media(min-width: 1200px) {
		max-width: 1140px;
	}
}
.excursion-catalog .excursion {
	margin-bottom: 30px;

	@media(min-width: 768px) {
		margin-bottom: 60px;
	}
}