//- - var base_path = '/';
//- var base_path = 'https://alexen2.github.io/portfolio/';

include icon/icon.pug
include badge/badge.pug
include excursion/excursion.pug
include button/button.pug
include time-badge/time-badge.pug